@import '../../../shared/styles/main';

.categories {
  margin-block: 56px;

  @include on-tablet {
    margin-block: 64px;
  }

  @include on-desktop {
    margin-block: 80px;
  }

  &__title {
    font-family: Mont-Bold, sans-serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    color: var(--color-gray-primary);

    @include on-tablet {
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -1%;
    }
  }

  &__content {
    margin-top: 24px;
    display: grid;
    gap: 32px;

    grid-template-columns: repeat(4, 1fr);

    @include on-tablet {
      grid-template-columns: repeat(12, 1fr);
    }

    @include on-desktop {
      grid-template-columns: repeat(24, 1fr);
    }
  }

  &__link {
    grid-column: 1 / -1;
    text-decoration: none;
    display: flex;
    flex-direction: column;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 8;
    }
  }

  &__block-wrapper {
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 24px;

    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  &__block-wrapper-img {
    position: absolute;
    width: 100%;
    height: auto;

    top: 20%;
    left: 20%;

    object-fit: contain;

    transition: transform 0.3s ease;
  }

  &__block-title {
    margin-bottom: 4px;
    font-family: Mont-SemiBold, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-gray-primary);

    transition: transform 0.3s ease;
  }

  &__block-desc {
    font-family: Mont-Regular, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray-secondary);

    transition: transform 0.3s ease;
  }

  &__link:hover &__block-wrapper {
    transform: scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }

  &__link:hover &__block-wrapper-img {
    transform: translateY(-10px) scale(1.05);
  }

  &__link:hover &__block-title,
  &__link:hover &__block-desc {
    transform: translateY(-5px);
  }

  &__link:first-child &__block-wrapper {
    background: #6D6474;
  }

  &__link:nth-child(2) &__block-wrapper {
    background: #8D8D92;
  }

  &__link:last-child &__block-wrapper {
    background: #973D5F;
  }
}
