@import '../../../shared/styles/main';

.carousel {
  position: relative;

  &__top {
    @include flex(row, space-between, center);

    margin-bottom: 16px;
  }

  &__topTitle {
    font-family: Mont-Bold, sans-serif;
    font-size: 22px;
    font-weight: 800;
    color: var(--color-gray-primary);

    @include on-tablet {
      font-size: 32px;
    }
  }

  &__navigation {
    display: flex;
    gap: 16px;
  }

  &__navigationBtn {
    width: 32px;
    height: 32px;
    padding: 6px;

    border: 1px solid var(--color-gray-icons-placeholders);
    background: var(--color-white);
    cursor: pointer;

    transition: border-color 0.2s ease, opacity 0.2s ease;

    @include hover(border-color, var(--color-gray-primary));
  }

  &__navigationBtnDisabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &__swiper {
    padding: 16px;
    overflow: hidden;

    @include on-tablet {
      padding: 24px;
    }

    @include on-desktop {
      max-width: 1136px;
      margin: auto;
      padding: 32px 0;
    }
  }

  &__slide {
    width: 212px;

    @include on-tablet {
      width: 237px;
    }

    @include on-desktop {
      width: 272px;
    }
  }
}
