@import '../shared/styles/main';

.HomePage {
  @include content-padding-inline;

  &__title {
    font-family: Mont-Bold, sans-serif;
    font-weight: 800;
    font-style: Bold;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;
    margin: 24px 0;

    color: var(--color-gray-primary);

    @include on-tablet {
      font-size: 48px;
      line-height: 56px;

      margin: 32px 0;
    }

    @include on-desktop {
      margin: 56px 0;
    }
  }
}
